@page "/"

    <h1>Hello World!</h1>

    <p>
        This is an example app demonstrating the integration of blazor together with our backend EFCore services.
    </p>

<SurveyPrompt Title="How is Blazor working for you?" />
