@if (IsSubmitted && Type == "success")
{
    <div class="alert alert-success">
        @Message
    </div>
}
else if (IsSubmitted && Type == "error")
{
    <div class="alert alert-danger">
        @Message
    </div>
}


@code {
    [Parameter]
    public bool IsSubmitted { get; set; } = false;

    [Parameter]
    public string Message { get; set; } = "Successfully Saved!";

    [Parameter]
    public string Type { get; set; } = "success";
}
